@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    ViewData["Title"] = "Menu";
}

<style>
    .centered {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .flexed{
        display: flex;
    }

</style>

<div class="centered">
    <div class="flexed">
        <div>
            <a asp-controller="Info" asp-action="ListRaces">
                <img src="~/images/banners/races.png" />
            </a>
        </div>
        <div>
            <a asp-controller="Info" asp-action="ListTeams">
                <img src="~/images/banners/teams.png" />
            </a>
        </div>
    </div>
    <div class="flexed">
        <div>
            <a asp-controller="Info" asp-action="ListRiders">
                <img src="~/images/banners/riders.png" />
            </a>
        </div>
        <div>
            <a asp-controller="Shop" asp-action="OrderTicket">
                <img src="~/images/banners/tickets.png" />
            </a>
        </div>
    </div>

</div>