@{
    ViewData["Title"] = ViewData["Header"];
}

<div>
    Please fill out following fields:

    <div>
        <a asp-action="Menu" asp-controller="Home">
            Back
        </a>
    </div>
    
</div>