@{
    var banners = new List<String>
        {"bannerRaces.jpg", "bannerRiders.jpg", "bannerTeam.jpg", "bannerTickets.jpg"};
    int bannerNr = (int)ViewData["BannerNr."];
}

<style>
    .maximizeWidth{
        width: 100%;
    }
</style>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - MotoGP</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div>
        <a asp-action="Index" asp-controller="Home">
            <img class="maximizeWidth" src=@($"/images/banners/{banners[bannerNr]}") />
        </a>
    </div>

    <h1 style="color: red">
        @ViewData["Title"]
    </h1>
    
    <div>
        @RenderBody()
    </div>
</body>
</html>
