@{
    ViewData["Title"] = "Races on map";
}
@model IEnumerable<MotoGP.Models.Race>

<img src="/images/banners/map.png" alt="Workplace" usemap="#workmap">

<map name="workmap">
    @foreach(var item in Model)
    {
        <a asp-action="ShowRace" asp-controller="Info" asp-route-id="@item.RaceID">
            <area shape="circle" coords="@(item.X),@(item.Y),44" alt="Cup of coffee">
        </a>
    }
</map>