@{
    ViewData["Title"] = "Races";
}
@model IEnumerable<MotoGP.Models.Race>


<div>
    @foreach(var races in Model.GroupBy(a => a.Date.Month))
    {
        <h3>@System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(races.Key)</h3>

        @foreach(var race in races.ToArray())
        {
            <p>@Html.DisplayFor(a => race.Date) 
            
                <a asp-action="ShowRace" asp-controller="Info" asp-route-id="@race.RaceID">
                    @Html.DisplayFor(a => race.Name)
                </a>
                
            </p>
            
        }
    }
</div>

<div>
    <a asp-action="Menu" asp-controller="Home">
        Back |
    </a>

    <a asp-action="BuildMap" asp-controller="Info">
        Races on map |
    </a>

    <a asp-action="SelectRace" asp-controller="Info">
        One by One
    </a>


</div>
