@{
    ViewData["Title"] = "Races";
}

<div>
    <a asp-action="Menu" asp-controller="Home">
        Back |
    </a>

    <a asp-action="BuildMap" asp-controller="Info">
        Races on map |
    </a>

    <a asp-action="SelectRace" asp-controller="Info">
        One by One
    </a>


</div>
